.corner-bevel-18 {
    clip-path: polygon(
        18px 0%,
        100% 0%,
        100% calc(100% - 18px),
        calc(100% - 18px) 100%,
        0% 100%,
        0% 18px
    );
}
.bottom-corner-bevel-8 {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0% calc(100% - 8px)
    );
}

body {
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

label {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.17vw;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.596);
    margin-bottom: 1px;
}

p {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1vw;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.596);
    margin-bottom: 1px;
}

.error {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 998;
    border: none;
    top: 0%;
    border: none;
    box-shadow: none;
}

#main-label {
    position: absolute;
}

#main-label h1 {
    font-size: 6vw;
    letter-spacing: 2px;
    word-spacing: 0.6px;
    font-weight: 1000;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
    color: var(--font-color-primary);
    text-shadow:
        0 0 20px var(--text-shadow-primary),
        0 0 30px var(--text-shadow-dark);
    margin-bottom: 1px;
}

#main-label p {
    color: var(--font-color-primary);
    text-shadow: 0 0 10px var(--text-shadow-primary);
}

.tab-window {
    position: absolute;
    background-color: var(--background-color-primary);
    transition: top 0.4s ease-in-out;
    top: -90%;
    display: none;
    border-radius: 20px;
    
    /* corner-shape not supported on all browsers */
    corner-shape: bevel;
}

.tab-window.open {
    display: block;
    top: 10%;
}

.tab-window p, .tab-window h2, .tab-window-h3 {
    color: var(--font-color-primary);
    text-shadow: 0 0 10px var(--text-shadow-primary);
}

.tab-window h3 {
    color: var(--font-color-tertiary);
}

.no-highlight {
    border: none;
    box-shadow: none;
}

.highlight {
    border: 1.5px solid var(--highlight-border-primary);
    box-shadow: inset 0 0 20px 5px var(--highlight-shadow-primary);
}

button {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 1px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1vw;
    font-weight: 600;
    position: absolute;
    font-family: "Audiowide", sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.596);
}

button.main {
    width: 15%;
    height: 10%;
    font-size: 1.1vw;
    border-color: rgb(16, 184, 1);
    color: rgb(21, 255, 0);
    text-shadow: 0 0 10px rgba(21, 255, 0, 0.596);
    box-shadow: inset 0 0 10px 3px rgba(21, 255, 0, 0.3);
}

.esc-btn {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px;
    border-color: rgb(30, 30, 30);
    border-style: solid;
    position: absolute;
    z-index: 1000;
    top: 0px;
    height: 2.6%;
    width: 12%;
    left: 50%;
    transform: translate(-50%, -70%);
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.1s ease-out;
    display: none;
    corner-shape: bevel;
}

.esc-btn p {
    text-shadow: none;
    color: rgb(21, 255, 0);
    transform: translate(0px, -15%);
    letter-spacing: 1px;
    font-weight: 550;
    font-size: 1vw;
}

.esc-btn:hover {
    transform: translate(-50%, 0px);
}

.tab {
    position: absolute;
    border: 1.5px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(16, 184, 1);
    box-shadow: inset 0 0 20px 5px rgba(21, 255, 0, 0.3);
    bottom: -2.2%;
    height: 5%;
    transition: bottom 0.1s ease-out;
}

.tab p {
    user-select: none;
    color: rgb(92, 255, 78);
    text-shadow: 0 0 10px rgba(21, 255, 0, 0.596);
    font-size: 1.1vw;
}

.tab:hover {
    cursor: pointer;
    bottom: -1%;
}

.tab.open {
    bottom: -1%;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 99.6%;
    height: 99%;
    border: none;
    z-index: 999;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translate(-50%, -150%);
    pointer-events: none;
}

input[type="checkbox"] {
    accent-color: rgb(51, 51, 51);
    border: 1px;
    border-color: rgba(255, 255, 255, 0.7);
}

textarea {
    background-color: rgba(73, 73, 73, 0.307);
    border-color: rgb(16, 184, 1);
    color: white;
    font-size: 1.17vw;
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

form p {
    color: rgb(153, 153, 153);
    text-shadow: 0 0 10px rgba(143, 143, 143, 0.596);
}