:root {
    --clr-surface-light: #FFFFFF;
    --clr-surface-dark: #000000;

    --clr-surface-0: #000000CC;
    --clr-surface-1: #323232;

    --clr-primary-0: #15FF00;
    --clr-primary-1: #5CFF4E;

    --clr-shadow-dark: #00000097;
    --clr-shadow-0: #15FF0097;
    --clr-shadow-1: #15FF004D;

    --clr-border-primary: #10B801;
}

.dbg { border: 1px solid red; }

.fnt-audiowide {
    font-family: "Audiowide", "Segoe UI", Tahoma, sans-serif;
}

.fill-screen, .fill-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;

    margin: 0px;
    padding: 0px;
}
.fill-parent {
    position: relative;
    height: 100%;
    width: 100%;
}

.stack-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.clickable {
    cursor: pointer;
}

.centered {
    align-self: center;
    justify-self: center;
}

#background {
    background-color: var(--clr-surface-dark);
    overflow-y: hidden;
    z-index: -1;
}

#current-time {
    grid-area: 1/1;
    align-self: center;
    justify-self: center;

    color: var(--clr-surface-light);
    font-size: 0.8em;
    margin-top: 3%;
}

#esc-wrapper {
    grid-area: 1/1;
    align-self: start;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    width: 100%;
    height: 100%;
}
#esc-wrapper.hide {
    display: none;
}
#esc-buttons {
    width: 10%;
    top: 0px;
}
#esc-region {
    height: 100%;
    transform: translateY(-60%);
    transition: transform 0.1s ease-out;
}
#esc-btn {
    align-self: start;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid var(--clr-surface-1);
    border-top: none;
    background-color: rgba(0, 0, 0, 0.9);
}
#esc-btn p {
    text-align: center;
    color: var(--clr-primary-0);
    font-family: 1.2em;
    margin-top: 4px;
    margin-bottom: 4px;
}
#esc-region:hover {
    transform: translateY(0%);
}

#page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--clr-primary-0);
}
#page-title h1 {
    font-size: 4.8em;
    margin: 0px;
    text-shadow: 0 0 20px var(--clr-shadow-0),
                 0 0 30px var(--clr-shadow-dark);
    letter-spacing: 2px;
}
#page-title p {
    margin: 0px;
    font-size: 0.8em;
    text-shadow: 0 0 10px var(--clr-shadow-0);
}

.top-align-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

.center-align-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-highlight {
    border: 1.5px solid var(--clr-border-primary);
    box-shadow: inset 0 0 20px 5px var(--clr-shadow-1);
}

#page-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: hidden;
}
.tab {
    border-bottom: none;
    width: 15%;
    height: 5%;
    margin: 0px 12px 0px 12px;
    padding: 1px;
    text-align: center;
    background-color: var(--clr-surface-0);
    transform: translateY(50%);
    transition: transform 0.1s ease-out;
}
.tab:hover, .tab.active {
    transform: translateY(35%);
}
.tab p {
    user-select: none;
    font-size: 0.9em;
    margin: 0px;
    margin-bottom: 10%;
    color: var(--clr-primary-1);
    text-shadow: 0 0 10px var(--clr-shadow-0);
}

#content-windows {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2%;
}
/* Many classes are likely going to use inactive class */
[id*="window-"].inactive {
    display: none;
}
.tab-window {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: var(--clr-surface-0);
}

/* Classes for windows */
.win-header, .win-subheader {
    font-size: 1.5em;
    color: var(--clr-primary-0);
    text-shadow: 0 0 10px var(--clr-shadow-0);
}

.win-subheader {
    font-weight: lighter;
    font-size: 0.8em;
}

.divider-line {
    stroke: var(--clr-border-primary);
    stroke-width: 2;
}

.win-btn {
    border-width: 1px;
    color: var(--clr-primary-1);
    width: 40%;
    height: 15%;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px var(--clr-shadow-0);
    box-shadow: inset 0 0 10px 3px var(--clr-shadow-1);
    cursor: pointer;
}

#downloads-sections {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
}

.win-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-btn-stack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changelog {
    background-color: rgba(73, 73, 73, 0.3);
    text-align: center;
    outline: none;
    resize: none;
    box-shadow: none;
    color: var(--clr-surface-light);
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 0.9em;
}

.option {
    margin-bottom: 1.5em;
}
.option .label {
    display: flex;
    justify-content: center;
}
.option .label h1 {
    color: var(--clr-surface-light);
    font-size: 0.9em;
    font-weight: 400;
    margin: 0px 20px 0px 0px;
}
.option .label input {
    accent-color: var(--clr-surface-1);
    margin: 0px;
}
.option .info {
    text-align: center;
    margin-top: 0px;
}

#opt-reload {
    height: 100%;
    width: 10%;
    font-size: 0.8em;
    border: 1px solid var(--clr-surface-light);
    box-shadow: none;
    color: var(--clr-surface-light);
}

.win-btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
}